.logo {
    margin: 0 0 0 50%;
    height: 100px;
}
.navbar {
    background-color: blue;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
    font-weight: bold;
    min-height: 50px;
    list-style: none;
    grid-template-columns: auto auto auto auto auto auto;
    
}
a:link {
    text-decoration: none;
  }
.container1 {
    background-image: url(images/minimumlonen-.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.cont1 {
   background-color: white;
   width: 300px;
   margin-left: 30px;
   margin-top: 20px;
}
.container2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px;
    font-size: 20px;
}
.building, .economy, .education, .family, .government, .international, .justice, .migration, .democracy, .coorperation, .security, .travel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
    max-width: 300px;
}
.spot1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    font-size: 20px;
    max-width: 300px;
}
.spot2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    font-size: 20px;
    max-width: 300px;
}
.spot3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;
    font-size: 20px;
    max-width: 300px;
}
.spotlight {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}
.footer1 {
    list-style: none;
    margin-left: ;
    
}
.footer2 {
    list-style: none;

}
footer {
    display: flex;
    justify-content: flex-end;
    background-color: blue;
    color: white;
    font-size: 20px;
    max-height: fit-content;
}
.nav2 {
    display: flex;
    justify-content: flex-end;
}
h3 {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
li {
    padding: 20px;
    list-style: none;
    
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
      
    }
  }